/* .TOP-PARENT {
  justify-content: space-between;
  display: flex;
}

.top_header {
  display: flex;
}
.top_header > li {
  list-style:none;
  margin: 0 20px;
}

.top_header > li > a {
  list-style:none;
  color: black;
  text-decoration: none;
}

.top_header > li > a:hover {
 color: black;
}

.top_inRight{
  position: relative;  
} */


 
.title_header {
  display: flex;
  justify-content: space-between;
}

.title_header > .title_ui {
  display: flex;

}

.title_header > .title_ui > li {
  list-style: none;
}
 


/* 아직 안쓰는 태그 */
.title_header > .title_header_rht {
  /* display: inline-block; */
}


.title_header > .title_ui > li {
  margin: 0 10px;
}

.title_hader:nth-of-type(2){
  height: 60px;
}

.title_header > .title_ui > li > a {
  color: black;
  text-decoration: none;
} 
.title_header > .title_ui > li > .cate_input {
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  padding: 5px 5px 5px 0px;
  outline: none;
}

.title_header > li > input, button {
}




.top_cate01 {
  display: flex;
  justify-content: space-between;
}

.top_cate01 > ul {
  display: flex;
}


.top_cate01 > ul > li {
  list-style: none;
}

.top_cate01 > ul > li > a {
  color: black;
  margin: 0 10px;
  list-style: none;
  text-decoration: none;  
}

.top_cate01 > ul > li > a:hover {
  color: blue;
  margin: 0 10px;
  list-style: none;
  text-decoration: none;  
}


.top_cate02 { }

.top_cate02 > ul { 
  display: flex; 
}

.top_cate02 > ul > li { 
  margin: 0 20px; 
  list-style:none;
  text-align: center;
}

.top_cate02 > ul > li > a{ 
  color: black;
  padding: 10px;
  text-decoration: none;
  
}
.top_cate02 > ul > li a.active {
  border-radius: 100px; 
  padding: 10px;
  background-color: skyblue;
  transition: 0.2s ease-in;
}
 
 
